# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
ENV/

# =========================
# Jupyter / ML
# =========================
.ipynb_checkpoints/
*.h5
*.keras
*.pt
*.onnx

# =========================
# Dataset / uploads
# =========================
dataset/
uploads/
*.csv
*.zip

# =========================
# Logs & cache
# =========================
*.log
.cache/
.pytest_cache/

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Flask
# =========================
instance/
*.sqlite3

# =========================
# Node (if ever used)
# =========================
node_modules/

# =========================
# Secrets
# =========================
.env
.env.local
